@import 'https://fonts.googleapis.com/css?family=Open+Sans';

#clock {
    display: flex;
    display: -webkit-flex;
}

.unit {
    /* background: linear-gradient(#aaa, #777); */
    background: #666;
    border-radius: 0.5rem;
    /* box-shadow: 0 2px 2px #444; */
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    height: 100%;
    line-height: 4rem;
    margin: 0 10px;
    text-align: center;
    text-shadow: 0 2px 2px #666;
    width: auto;
    padding: 0.3rem;
}

.unit2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    height: 100%;
    line-height: 4rem;
    font-weight: bold;
}