html, body {
    max-width: 1919px;
    min-width: 2000px;
    background-color: #fff;
    overflow: auto !important;
    -webkit-print-color-adjust: exact;
}


.magic {
    position: relative;
    top: -65px;
}

.k_rank_head {
    position: relative;right:425px;top:-153px;
}

.k_main_percent {
    font-size:10px;vertical-align: middle;min-width:210px;height:100px;position:relative;right:730px;top:120px;padding: 15px 0 0 0;
    border-radius:10px;border-style: solid;border-color: #86630b;
}


.kbody {
    zoom: 210%;
    text-align: center;
    }


.top_rank {
    zoom: 210%;
}

.bottom_rank{
    zoom: 210%;
}

.js_time_border {
    position:relative;top:225px;width:400px;margin-left:139px;height:70px;color:black;padding: 0 0 0 0;text-align:center;
    background:#B8B8B8;
}


.js_time {
    font-weight:bold;font-size:49px;width:400px;text-align:center;position: relative;left:0px;letter-spacing: 5px;bottom:20px;
}


/* RIGHT TABLE TOTAL */
.right_table { height:0;position:relative;right:1314px;top:220.9px;}
.right_table .right_table_text1 { font-size:17px; }
.right_table .right_table_text2 { font-size:17px; }
.right_table .right_table_text3 { font-size:20px; }


.rank_heading {
    height:34px;min-width:120px;font-size:24px;position: relative;right:1194px;top:177.1px;color:black;text-align:center;
    background: #ED1C24;
}

.present_head {
    position: relative;right:0px;top: -82.7px;margin-left:13px;
    height:34px;padding: 0 0 0 0;font-size:24px;max-width:120px;margin-bottom:10px;
    text-align:center;font-size:19px;background: #ED1C24;
}

.present_table {
    max-width:120px;position:relative;left:12.7px;top: -83.5px;
}


.left_head {
    position: relative;right:0px;top: -90px;left: 30px;
    height:34px;padding: 0 0 0 0;font-size:24px;max-width:120px;margin-bottom:10px;
    text-align:center;font-size:19px;background: #ED1C24;
}

.left_table {
    max-width:120px;position:relative;left:30px;top: -91.7px;
}

.float-container {
    margin-left: 34px;
    padding: 188.4px 0 0 0;
}

.float-child {
    width: 50%;
    height: 200px;
    float: left;
}  

/* @media(max-width:3200px) {
    .present_head {
        top:-89.4px;
    }
    .present_table {
        top:-90.7px;
    }
}


@media(max-width:2400px) {
    .present_head {
        top:-88.2px;
    }
    .present_table {
        top:-89.84px;
    }
    .right_table {
        top:224.72px;
    }
}


@media(max-width:2134px) {
    .present_head {
        top:-89.7px;
    }
    .present_table {
        top:-91.3px;
    }
    .right_table {
        top:224.7px;
    }
}


@media(max-width:2000px) {
    .present_head {
        top:-87.7px;
    }
    .present_table {
        top:-89.1px;
    }
    .right_table {
        top:224.7px;
    }
}


@media(max-width:1920) {
    
}


@media(max-width:1600px) {
    .present_head {
            top:-89.7px;
        }

    .present_table {
            top:-91.1px;
        }
   }


   @media(max-width:1581px) {
    .left_table {
        top:100.2px;
    }
}


@media(max-width:1455px) {
    .left_table {
        top:100.5px;
    }
    .present_head {
        top:-89.1px;;
    }
    .present_table {
        top:-91.1px;
    }
    .right_table {
        top:224.1px;
    }
}


@media(max-width:1300px) {
    .left_table {
        top:100.7px;
    }
    .present_head {
        top:-88.7px;;
    }
    .present_table {
        top:-90.3px;
    }
    .right_table {
        top:224.3px;
    }
}



@media(max-width:1067px) {
    .left_table {
        top:101px;
    }
    .present_head {
        top:-89.4px;;
    }
    .present_table {
        top:-91.2px;
    }
} */


/* @media(max-width:1920px) {
    .magic { position: relative; left: -40px;}

    .js_time_border { margin-left:1620px;}
}


@media(max-width:1856px) {
    .magic { position: relative;left: -115px;}

    .js_time_border { position:relative;margin-left:1545px;}
}


@media(max-width:1767px) {
    .magic { position: relative;left: -135px;}

    .js_time_border {margin-left:1526px;}
}


@media(max-width:1698px) {
    .magic { position: relative;left: -155px;}

    .js_time_border { margin-left:1507px;}
   }


 @media(max-width:1680px) {
  .magic { position: relative;left: -170px;}

  .js_time_border { margin-left:1492px;}
 }


 @media(max-width:1600px) {
  .magic { position: relative;left: -205px;top: -165px;}

  .js_time_border { margin-left:1456px;top:0;}
 }


@media(max-width:1582px) {
    .magic { position: relative;left: -225px;}

    .js_time_border { margin-left:1437px;}
}


@media(max-width:1539px) {
    .magic { position: relative;left: -265px;}

    .js_time_border { margin-left:1396px;}
}


@media(max-width:1468px) {
    .magic {position: relative;left: -285px;}

    .js_time_border { margin-left:1378px;}
}


@media(max-width:1424px) {
    .magic { position: relative;left: -305px;}

    .js_time_border { margin-left:1356px;}
}


@media(max-width:1390px) {
    .magic { position: relative;left: -320px;}

    .js_time_border { margin-left:1340px;}
}


@media(max-width:1366px) {
    .magic { position: relative;left: -325px;}

    .js_time_border { top:0px;margin-left:1336px;}
   }


@media(max-width:1352px) {
    .kbody { zoom: 180%;}
    .top_rank {zoom: 180%;}
    .bottom_rank{ zoom: 180%;}

    .magic { position: relative; left: -200px; }
    .js_time_border { position:relative;top:0px;margin-left: 1222px;}

    .right_table .right_table_text1 { font-size:24px; }
    .right_table .right_table_text2 { font-size:24px; }
    .right_table .right_table_text3 { font-size:24px; }
}


@media(max-width:1286px) {
    .magic { position: relative; left: -230px; }
    .js_time_border { position:relative;top:0px;margin-left:1193px;}

    .right_table .right_table_text1 { font-size:24px; }
    .right_table .right_table_text2 { font-size:24px; }
    .right_table .right_table_text3 { font-size:24px; }
}


@media(max-width:1138px) {
    .kbody { zoom: 160%;}
    .top_rank {zoom: 160%;}
    .bottom_rank{ zoom: 160%;}

    .magic { position: relative; left: -205px; }
    .js_time_border { position:relative;top:0px;width:240px;margin-left:1104px;}
    .js_time { font-weight:bold;font-size:42px;width:240px;}
}


@media(max-width:1120px) {
    .magic { position: relative; left: -210px; }
    .js_time_border { position:relative;top:0px;margin-left:1097px;}
}


@media(max-width:1024px) {
    .rank_heading { font-size: 22px;}
    .kbody { zoom: 140%;}
    .top_rank {zoom: 140%;}
    .bottom_rank{ zoom: 140%;}

    .magic { position: relative; left: -210px;top:-140px;}
    .js_time_border { position:relative;margin-left:964px;width: 215px;height:110px;}
    .js_time { font-weight:bold;font-size:37px;width: 215px;}

    .right_table .right_table_text1 { font-size:24px; }
    .right_table .right_table_text2 { font-size:24px; }
    .right_table .right_table_text3 { font-size:24px; }
}


   @media(max-width:720px) {

   } */
